* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-family: 'Mansalva';
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 50px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.Pic1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.Pic1 img {
  max-width: 80%;
  height: auto;
  
  
}

.ME {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Mansalva';
  font-size: 30px;
}

.Pic2 {
  display: flex;
  margin-top: 50px;
  
  object-fit: cover;
}

.Pic2 img {
  width: 700px;
  height: auto;
  border-radius: 50%;
}

.ButtonToAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#btToMe{
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;           
  text-decoration: none;   
  border-radius: 50px;      
  font-size: 16px;
  transition: 0.3s;
}

.Pic3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Pic3 img {
  max-width: 46%;
  height: auto;
}

.mycontent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 20px;
  font-family: 'Mansalva';
  font-size: 40px;
  background-color: #252525;
  color: #fff;
}

.mycontent h2 {
  margin: 20 px;
  padding: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  font-family: 'Mansalva';
  font-size: 30px;
  background-color: #252525;
  color: #fff;
}

.info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  font-family: 'Mansalva';
  font-size: 30px;
  color: #fff;
  margin-left: 100px;
}

.pic4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  font-family: 'Mansalva';
  font-size: 30px;
  background-color: #252525;
  color: #fff;
}

.pic4 img {
  max-width: 550px;
  height: auto;
  border-radius: 50%;
}